# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.env
.env.*
instance/
.venv/
venv/
dist/
build/

# Alembic
alembic/versions/*.pyc

# Node / Frontend
node_modules/
dist/
pnpm-lock.yaml
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
*.log

# IDEs
.vscode/
.idea/
*.iml

# System
.DS_Store
Thumbs.db

# Docker
*.pid
docker-data/

# Android
*.apk
*.keystore
android/app/build/
.gradle/
local.properties

# Coverage
.coverage
coverage/
htmlcov/

# PWA cache folders
sw.js.map
.wrk/
