fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy
alembic
python-dotenv
# psycopg2-binary  # uncomment for PostgreSQL production
python-multipart
passlib[bcrypt]
python-jose[cryptography]